body{
  width: 960px;
  margin: 0 auto;
}
h1{
  text-align: center;
}
#pantalla{
  border: groove 8px gold;
  background: lightgreen;   
}
#boton{
  background-color: red;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  padding: 3px;
  border: solid 2px black;
}
#boton:hover{ /* Estilo que se activa al pasar el puntero sobre el boton */
  background-color: lightcoral;
  font-size: 22px;
  border: groove 4px red;
}